@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: calc($sizeValue / 10) * 1rem;
}
footer {
	background: #FEFA52;
	padding-bottom: 20px;
	padding-top: 30px;
	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 5px;
		@extend .flex;
		align-items:end;
	}
	.foundationDetails, .vegaInfo {
		width: 45%;
	}
	.vegaInfo {
		font-family: 'vegab-regular',serif;
		text-align: right;
		text-transform: uppercase;
		@include fontSize(12);
		.social_links ul {
			list-style: none;
			padding: 0;
		}
		h2 {
			font-family: 'vegaabcregular', serif;
			@include fontSize(26);
			margin: 10px 0;
		}
		.logo {
			width: 102px;
			margin-left: auto;
		}
	}
}